@import 'keyframes', 'variables', 'mixins';

h1 {
  @include quicksandFont(white, 25px, 600);
}

form {
  background-color: $background-color;
  width: 320px;
  height: auto;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  gap: 5px;
  @include fadeInUp;

  @include responsive($small) {
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .form-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    height: calc(100% - 80px);

    @include responsive($small) {
      justify-content: center;
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .icon-container {
      display: flex;
      background-color: $background-color-darker;
      border-radius: 100%;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;

      mat-icon {
        color: $gray-color;
      }
    }
  }

  mat-form-field,
  button {
    margin-top: 5px;
    width: 100%;
  }
}
