<form (ngSubmit)="submit()" [formGroup]="form" action="/off" autocomplete="off">
  <div class="form-controls">
    <div>
      <div class="icon-container">
        <mat-icon>home</mat-icon>
      </div>
      <h1>Sign in</h1>
    </div>
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" maxlength="50" />
      <mat-error *ngIf="form.get('email')!.errors?.['required']">
        This field is required.
      </mat-error>
      <mat-error *ngIf="form.get('email')!.errors?.['pattern']"> Invalid email. </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        matInput
        maxlength="16"
      />
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password')!.errors?.['required']">
        This field is required.
      </mat-error>
    </mat-form-field>

    <button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">
      Continue
    </button>
    <button type="button" routerLink="/auth/register" mat-button color="accent">Register</button>
  </div>
</form>
