@import 'variables', 'mixins';

.container {
  height: 100%;
  display: flex;
  justify-content: center;

  .component {
    margin-block: auto;
    z-index: 1;
    width: fit-content;
    height: fit-content;

    @include responsive($small) {
      width: 100vw;
      height: 100vh;
    }
  }
}

.pattern {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #131723;
  opacity: 0.2;
  background-image: radial-gradient(#b0bec5 2px, transparent 2px), radial-gradient(#b0bec5 2px, #131723 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;

  @include responsive($small) {
    display: none;
  }
}
