@import 'variables', 'mixins';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;

  .icon-container {
    width: 10%;
    min-width: 10%;

    mat-icon {
      margin-top: 10px;

      &.info {
        color: $alert-info;
      }

      &.success {
        color: $alert-success;
      }

      &.warning {
        color: $alert-warning;
      }

      &.error {
        color: $alert-error;
      }
    }
  }

  .body {
    margin-top: 5px;
    width: 80%;
    min-width: 80%;

    h1 {
      @include quicksandFont(18px, white, 500);

      &.info {
        color: $alert-info;
      }

      &.success {
        color: $alert-success;
      }

      &.warning {
        color: $alert-warning;
      }

      &.error {
        color: $alert-error;
      }
    }

    p {
      color: #acaeb3;
    }
  }
}
