<nav>
  <div class="buttons">
    <button mat-button color="accent">Dashboard</button>
  </div>
  <div [matMenuTriggerFor]="menu" class="profile">
    <div class="icon-container">
      <mat-icon>account_circle</mat-icon>
    </div>
  </div>
  <mat-menu #menu="matMenu" xPosition="before">
    <div class="card">
      <div class="profile-details">
        <div class="icon-container">
          <mat-icon>account_circle</mat-icon>
        </div>
        <label>{{ name }}</label>
      </div>
      <button (click)="logout()" mat-icon-button color="primary">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-menu>
</nav>
