@import 'variables', 'mixins', 'keyframes';

nav {
  padding-block: 10px;
  padding-inline: 12px;
  display: flex;
  justify-content: space-between;

  .buttons {
    display: flex;
    gap: 5px;
  }

  .profile {
    display: flex;
    align-items: center;
    color: $gray-color;
    cursor: pointer;
    padding-inline: 5px;
    @include transition;
    border-radius: 5px;

    &:hover {
      background-color: $background-color;
    }
  }
}

.icon-container {
  width: 45px;
  height: 45px;
  min-width: 45px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  border-radius: 100%;

  mat-icon {
    color: $gray-color;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  button {
    margin-right: 10px;
  }

  label {
    padding-right: 10px;
  }
}

.profile-details {
  display: flex;
  gap: 10px;
  padding-inline: 20px;
  align-items: center;
  color: $gray-color;

  .data {
    width: 400px;
  }
}
