@import 'keyframes', 'variables', 'mixins';

h1 {
  @include quicksandFont(white, 25px, 600);
}

form {
  background-color: $background-color;
  width: 500px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  gap: 5px;
  @include fadeInUp;

  @include responsive($small) {
    width: 100%;
    height: 100%;
  }

  .form-controls {
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: calc(100% - 80px);
    @include responsive($small) {
      justify-content: center;
    }

    div.heading {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .icon-container {
        display: flex;
        background-color: $background-color-darker;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;

        mat-icon {
          color: #b0bec5;
        }
      }
    }
  }
}

.row {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-block: 20px;

  @include responsive($small) {
    flex-direction: column;
    gap: 5px;
  }

  .col {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include responsive($small) {
      width: 100%;
    }
  }
}

.button-container {
  display: flex;
  gap: 10px;
}

button {
  margin-top: 10px;
}
