<form [formGroup]="form" action="/off" autocomplete="off" (ngSubmit)="submit()">
  <div class="form-controls">
    <div class="heading">
      <div class="icon-container">
        <mat-icon>how_to_reg</mat-icon>
      </div>
      <h1>Please fill the details below for signing in</h1>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="legacy">
          <mat-label>First name</mat-label>
          <input formControlName="firstName" matInput maxlength="15" />
          <mat-error *ngIf="form.get('firstName')!.errors?.['required']"> This field is required. </mat-error>
          <mat-error *ngIf="form.get('firstName')!.errors?.['pattern']"> Invalid name. </mat-error>
          <mat-error *ngIf="form.get('firstName')!.errors?.['minlength']">
            Name must have 2 characters at least.</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Last name</mat-label>
          <input formControlName="lastName" matInput maxlength="15" />
          <mat-error *ngIf="form.get('lastName')!.errors?.['required']"> This field is required. </mat-error>
          <mat-error *ngIf="form.get('lastName')!.errors?.['pattern']"> Invalid last name. </mat-error>
          <mat-error *ngIf="form.get('lastName')!.errors?.['minlength']">
            Name must have 2 characters at least.</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput maxlength="38" />
          <mat-error *ngIf="form.get('username')!.errors?.['required']"> This field is required. </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput maxlength="50" />
          <mat-error *ngIf="form.get('email')!.errors?.['required']"> This field is required. </mat-error>
          <mat-error *ngIf="form.get('email')!.errors?.['pattern']"> Invalid email. </mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Password</mat-label>
          <input formControlName="password" [type]="hidePassword ? 'password' : 'text'" matInput maxlength="16" />
          <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('password')!.errors?.['required']"> This field is required. </mat-error>
          <mat-error *ngIf="form.get('password')!.errors?.['minlength']">
            Password must have at least 8 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Confirm password</mat-label>
          <input
            formControlName="confirmPassword"
            [type]="hideConfirmPassword ? 'password' : 'text'"
            matInput
            maxlength="16"
          />
          <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('confirmPassword')!.errors?.['required']"> This field is required. </mat-error>
          <mat-error *ngIf="form.get('confirmPassword')!.errors?.['passwordDoesntMatch']">
            Passwords doesn't match.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="button-container">
      <button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">Register</button>
      <button routerLink="/auth" type="button" mat-button color="accent">Back</button>
    </div>
  </div>
</form>
