<app-navbar></app-navbar>
<div *ngIf="products" class="products-container">
  <app-product
    *ngFor="let product of products.products"
    [name]="product.name"
    [price]="product.price"
  ></app-product>
</div>
