@import 'variables';

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-h1,
.mat-headline,
.mat-typography .mat-h1,
.mat-typography .mat-headline,
.mat-typography h1 {
  margin: 0;
}

.mat-h2,
.mat-title,
.mat-typography .mat-h2,
.mat-typography .mat-title,
.mat-typography h2 {
  margin: 0;
}

.mat-snack-bar-container {
  background-color: $background-color;
}

.mat-menu-panel {
  background-color: $background-color;
}

.mat-dialog-container {
  background-color: $background-color;
}
