@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 100%;
  }
}

@mixin fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes increaseFontSize {
  from {
    font-size: 0px;
  }
  to {
    font-size: auto;
  }
}
