@mixin responsive($px) {
  @media (max-width: $px) {
    @content;
  }
}

@mixin transition {
  transition: all 0.2s ease-in-out;
}

@mixin quicksandFont($color, $size, $weight) {
  font-family: 'Quicksand', sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
