$background-color: #191e2c;
$background-color-darker: #131723;
$gray-color: #b0bec5;

$alert-info: #867df3;
$alert-success: #00a28e;
$alert-warning: #ed6f00;
$alert-error: #ff5631;

$large: 1300px;
$medium: 992px;
$small: 592px;
