@import 'variables', 'mixins', 'keyframes';

.product {
  background-color: $background-color;
  width: 200px;
  height: 100px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  @include fadeInUp();
}

.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  word-break: break-all;
  height: 20%;

  .icon-container {
    background-color: $background-color-darker;
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    mat-icon {
      color: $gray-color;
    }
  }

  h2 {
    color: $gray-color;
  }
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    @include quicksandFont(#84e92c, 25px, 500);
  }
}
