<div class="product">
  <div class="heading">
    <div class="icon-container">
      <mat-icon>category</mat-icon>
    </div>
    <h2>{{ name }}</h2>
  </div>
  <div class="body">
    <label>{{ price | currency }}</label>
    <button mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
  </div>
</div>
